* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header-1 {
    background: #222222;
    color:#fff;
    padding-left: 21px;
    display: flex;
    justify-content: space-between;
    font-weight: 200;
}
.header-1 ul {
    list-style: none;
    display: flex;
    margin-right: 10px;
}

.header-1 ul li {
    margin-right: 5px;
}

.header-2 {
    color: #fff;
    font-size: 21px;
    padding: 21px;
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
}

.header-2 ul {
    list-style: none;
    display: flex;
}

ul li {
    margin-right: 8px;
    font-weight:400;
}

.ppt-prod {
    position: relative;;
} 

.ppt-prod img {
    width: 100vw;
    object-fit: cover;
    object-position: left;
    height: 375px;
}

.info-product {
    position: absolute;
    top: 150px;
    right: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #3C2313;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.info-product button {
    color: #fff;
    padding: 5px;
    border-style: none;
    background-color: #F0A83E;
    margin-top: 10px;

}

.info-prod2{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-prod2 i{
    color: #F0A83E;
    
}

.info-prod2 ul{
    display: flex;
    list-style: none;
}

.cont-prod {

    margin: 21x;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.prod {
    text-align: center;
    background: #FBFAF6;
    margin-bottom: 25px;
}

.contact {
    margin: 41px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact p {
    background-color: #3C2313; 
    color: #fff; 
    font-weight: 300;
    margin: 5px;
    padding: 8px; 
    border-radius: 8px; 
    text-align: left; 
    width: 50%;
}

.subscribe {
    color: #fff;
    background-color: #F0A83E;
    padding: 21px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div input{
    border-style: none;
    border-radius: 8px;
    padding: 5px;
}

div button {
    color: #fff;
    background-color: #3C2313; 
    border: none;
    border-radius: 8px;
    padding: 5px;
}

footer {
    color: #fff;
    background-color:#3C2313;
}

footer ul li{
    display: flex;
    align-items: center;
    padding: 21px;
}

li div{
    padding-left: 10px;
}

div small{
    font-weight: 100;
}

.sub-footer {
    color: #fff;
    text-align: center;
    background: #222222;

}

@media screen and (min-width:724px){
   #hide {
       display: none;
   }

}

@media screen and (max-width:725px){
   .header-2 ul {
       display: none;
   }

   .cont-prod {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    width: 30vw;
    align-items: center;
    margin: 0 auto;
   }
}